* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

h1 {
  img {
    display: block;
    margin: auto;
    width: 10rem;
  }
}


header {
  background-image: linear-gradient(to right, #0bb2e9, #228d8d);
  padding: 1.375rem;
}

h2 {
  color: #0bb2e9;
  font-family: 'PT Sans Caption', sans-serif;
  margin: auto auto 1.375rem;
  max-width: 35rem;
  text: {
    align: center;
    transform: uppercase;
  }
}

.content {
  padding: 2.5rem 1.375rem;
}

.banner {
  img {
    display: block;
    width: 100%;
  }
}

label, input {
  display: block;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

input {
  background-color: #f1f0ef;
  border: {
    width: 0;
    radius: 8px;
  }
  line-height: 2.5rem;
  margin: 0.5rem auto 1.5rem;
}

button[type=submit] {
  @extend input;
  background-color: #228d8d;
  color: white;
  font: {
    family: 'PT Sans Caption', sans-serif;
    size: 1.5rem;
  }
  margin-top: 3rem;
  text-transform: uppercase;
}

form {
  background: {
    image: url("../img/content-footer.png");
    position: center bottom;
    repeat: no-repeat;
    size: contain;
  }

  padding-bottom: 7rem;
}

footer {
  @extend header;
  color: white;
  font: {
    family: 'PT Sans Caption', sans-serif;
    size: 1.5rem;
  }

  p {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 400px;
    text-transform: uppercase;
  }

  a {
    background: {
      repeat: no-repeat;
      size: contain;
    }
    border-radius: 13px;
    display: block;
    height: 3rem;
    overflow: hidden;
    text-indent: -9000px;
    width: 3rem;
  }

  .facebook {
    background-image: url("../img/facebook.png");
  }
  .instagram {
    background-image: url("../img/instagram.png");
  }
  .twitter {
    background-image: url("../img/twitter.png");
  }
}

.modal {
  &.visible {
    .modal__overlay {
      display: block;
    }

    .modal__window {
      display: flex;
    }
  }

  &__overlay {
    backdrop-filter: blur(200px);
    background-color: rgba(black, 0.5);
    display: none;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9998;
  }
  &__window {
    background-color: white;
    border-radius: 13px;
    box-shadow: 0 0 20px rgba(black, 0.2);
    display: none;
    height: 70%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 90%;
    max-width: 800px;
    z-index: 9999;

    p {
      font-family: 'Montserrat', sans-serif;
    }

    &::before {
      content: "";
      background: {
        image: url("../icon.png");
        repeat: no-repeat;
        size: contain;
      }
      display: block;
      margin: 0 auto 0.5rem;
      height: 15rem;
      width: 10rem;
    }
  }
}

@media (min-width: 768px) {
  h1 {
    img {
      display: block;
      margin: initial;
      width: 20rem;
    }
  }

  .content {
    background: {
      image: url("../img/content-footer.png");
      position: center bottom;
      repeat: no-repeat;
    }

    margin-bottom: 4rem;
    padding: 4rem 0 6rem;
  }

  form {
    background: none;

    > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: auto;
      max-width: 800px;

      > div {
        padding: 1rem;
        width: 50%;
      }

      &:last-child {
        padding: 1rem;
      }
    }
  }

  button[type=submit] {
    margin-top: initial;
  }
}
